.testimonials {
    margin-bottom: vars.rem(150);
    @include vars.media(desktop, max) {
        padding: 0 vars.rem(50);
    }
    @include vars.media(phablet, max) {
        padding: 0 vars.rem(15);
    }

    @include vars.flexer(center, start, column);

    .title {
        font-size: vars.rem(30);
        color: vars.$dark-blue;
    }

    .cards {
        margin-top: vars.rem(80);
        margin-bottom: vars.rem(40);
        @include vars.flexer();
    }

    .card {
        background: vars.$very-light-gray;
        // width: clamp(336px, 60%, 540px);
        width: vars.rem(540);
        height: vars.rem(250);

        @include vars.flexer(center, space-around, column);
        text-align: center;
        border-radius: vars.rem(8);
        padding: vars.rem(75) vars.rem(40) vars.rem(40);
        position: relative;

        &:not(:last-child) {
            margin-right: vars.rem(40);
        }
    }

    .card_title {
        color: vars.$dark-blue;
        margin-bottom: vars.rem(30);
    }

    .card_content {
        color: vars.$dark-grayish-blue;
    }

    .card img {
        @include vars.pseudo(absolute, 75px, 75px);

        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
