footer {
    & > * {
        padding: 0 vars.rem(160);
        @include vars.flexer(center, space-between);

        @include vars.media(desktop, max) {
            padding: 0 vars.rem(50);
        }
        @include vars.media(phablet, max) {
            padding: 0 vars.rem(25);
        }
    }

    .before {
        background: vars.$bright-red;
        min-height: vars.rem(218);
        @include vars.media(tablet, max) {
            flex-direction: column;
            justify-content: center;
            text-align: center;
            min-height: vars.rem(405);
        }
    }

    .before h1 {
        color: vars.$very-pale-red;
        width: clamp(310px, 60%, 440px);
        font-size: vars.rem(35);

        @include vars.media(tablet, max) {
            margin-bottom: vars.rem(30);
        }
    }

    .bottom {
        width: 100%;
        height: vars.rem(250);
        padding-top: vars.rem(50);
        padding-bottom: vars.rem(50);
        background: vars.$very-dark-blue;
        color: vars.$very-light-gray;
        display: flex;
        position: relative;

        @include vars.media(tablet-wide, max) {
            flex-direction: column-reverse;
            height: vars.rem(530);
        }

        & > * {
            height: 100%;
        }
    }

    .logo-soc {
        @include vars.flexer(center, space-between, column);
        height: 100%;

        @include vars.media(tablet-wide, max) {
            flex-direction: column-reverse;
            width: 100%;
            margin-bottom: vars.rem(50);
        }
    }

    .soc-img:not(:last-child) {
        margin-right: vars.rem(10);

        @include vars.media(tablet-wide, max) {
            margin-right: vars.rem(30);
        }
    }
    .soc-img img {
        @include vars.media(tablet-wide, max) {
            transform: scale(1.5);
        }
    }

    .soc-img:hover {
        filter: invert(44%) sepia(80%) saturate(2163%) hue-rotate(340deg) brightness(100%) contrast(90%);
    }

    nav {
        @include vars.flexer(start, space-between);
        // max-width: vars.rem(380);
        width: min(380px, 90%);
        margin-bottom: vars.rem(40);
    }
    nav a {
        display: block;
        font-size: vars.rem(15);

        &:not(:last-child) {
            margin-bottom: vars.rem(20);
        }

        &:hover {
            color: vars.$bright-red;
            font-weight: 400;
        }
    }

    form {
        @include vars.flexer(start, space-between);
    }

    input {
        // padding: vars.rem(15) vars.rem(25);
        padding: vars.rem(15);
        width: vars.rem(200);
        margin-right: vars.rem(5);
        border: 2px solid transparent;
        outline: none;
        border-radius: vars.rem(9999);

        @include vars.media(tablet-wide, max) {
            width: vars.rem(250);
            padding-left: vars.rem(30);
        }
    }

    input.invalid {
        border-color: vars.$bright-red;
        color: red;
    }

    input.invalid + .error {
        display: block;
    }

    .error {
        display: none;
        margin-left: vars.rem(15);
        margin-top: vars.rem(10);
        font-size: vars.rem(9);
        color: vars.$bright-red;
    }

    .right {
        position: absolute;
        right: 160px;
        bottom: 50px;
        color: vars.$dark-grayish-blue;
        font-size: vars.rem(12);
        height: 20px;

        @include vars.media(tablet-wide, max) {
            left: 50%;
            width: max-content;
            transform: translateX(-50%);
            bottom: vars.rem(30);
        }
    }
}
