header {
    padding: 0 vars.rem(160);
    @include vars.flexer(center, space-between);
    height: 150px;

    @include vars.media(desktop, max) {
        padding: 0 vars.rem(50);
    }
    @include vars.media(phablet, max) {
        padding: 0 vars.rem(25);
        height: vars.rem(120);
    }

    .logo {
        display: grid;
        place-items: center;
    }

    .menu {
        display: none;
        width: vars.rem(30);
        height: vars.rem(20);
        cursor: pointer;
        position: relative;
        span {
            background: vars.$dark-blue;
            width: 30px;
            height: 4px;
            border-radius: vars.rem(1);
            position: absolute;
        }

        span:nth-child(2) {
            top: 50%;
            opacity: 1;
            transform: translateY(-50%);
        }
        span:first-child {
            top: 0;
        }
        span:last-child {
            top: calc(100% - 4px);
        }

        @include vars.media(tablet, max) {
            display: block;
        }
    }
    .menu.straight {
        transition: transform 0.2s;

        span:nth-child(2) {
            top: 50%;
            opacity: 1;
            transform: translateY(-50%);
            transition: opacity 0.3s 1.3s;
        }
        span:first-child {
            top: 0;
            transition: top 0.5s 1s, transform 0.5s 0.5s;
        }
        span:last-child {
            top: calc(100% - 4px);
            transition: top 0.5s 1s, transform 0.5s 0.3s;
            transform: rotate(0deg);
        }
    }

    .menu.cross {
        transition: transform 0.2s 1.3s;
        transform: rotate(45deg);
        span:nth-child(2) {
            opacity: 0;
            transition: opacity 0.3s;
        }
        span:first-child {
            top: 50%;
            transform: translateY(-50%);
            transition: top 0.5s 0.3s, transform 0.5s 0.3s;
        }
        span:last-child {
            top: calc(50% - 2px);
            transform: rotate(90deg);
            transition: top 0.5s 0.3s, transform 0.5s 0.8s;
        }
    }

    nav {
        @include vars.media(tablet, max) {
            background: white;
            box-shadow: 13px -2px 41px -12px rgba(0, 0, 0, 0.75);
            -webkit-box-shadow: 13px -2px 41px -12px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 13px -2px 41px -12px rgba(0, 0, 0, 0.75);
            position: absolute;
            display: flex;
            top: 0;
            left: 50%;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            width: vars.rem(325);
            height: vars.rem(290);
            border-radius: vars.rem(4);
            transform: translate(-50%, -100%);
            opacity: 0;
            // animation: go_down 1s ease-in-out reverse forwards;
            // transition: transform 0.5s, opacity 0.5s 0.3s;
        }
    }

    nav.inactive {
        @include vars.media(tablet, max) {
        }
    }

    nav.active {
        transform: translate(-50%, 100px);
        opacity: 1;
        transition: transform 1.3s, opacity 0.5s 0.7s;
        // animation: go_down 1s ease-in-out forwards;
    }

    nav a {
        font-weight: 500;
    }

    nav a:hover {
        color: vars.$dark-grayish-blue;
    }

    nav a:not(:last-child) {
        margin-right: vars.rem(30);

        @include vars.media(tablet, max) {
            margin-right: 0;
            margin-bottom: vars.rem(15);
        }
    }

    button {
        @include vars.media(desktop, max) {
            display: none;
        }
    }
}

@keyframes go_up {
    0% {
        transform: translateY(100px);
        opacity: 1;
    }
    50% {
        transform: translateY(0);
        opacity: 0;
    }
    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}
@keyframes go_down {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    50% {
        transform: translateY(0);
        opacity: 0;
    }
    100% {
        transform: translateY(100px);
        opacity: 1;
    }
}
