.hero {
    padding: 0 vars.rem(160);
    @include vars.flexer(center, space-between);
    flex-wrap: wrap;
    column-gap: vars.rem(110);
    min-height: 500px;
    margin-top: vars.rem(100);

    @include vars.media(desktop, max) {
        padding: 0 vars.rem(50);
    }
    @include vars.media(tablet-wide, max) {
        text-align: center;
        margin-top: vars.rem(50);
    }
    @include vars.media(phablet, max) {
        padding: 0 vars.rem(25);
        // height: vars.rem(120);
    }
    .explanation {
        flex: 1 0;

        @include vars.media(tablet-wide, max) {
            order: 2;
        }
    }
    .img {
        // width: 50%;
        flex: 1 0;
        height: 100%;
        min-width: 500px;
        // background: red;
        margin-bottom: vars.rem(15);
        box-shadow: -1px 11px 12px 6px rgba(0, 0, 0, 0.014);
        -webkit-box-shadow: -1px 11px 12px 6px rgba(0, 0, 0, 0.014);
        -moz-box-shadow: -1px 11px 12px 6px rgba(0, 0, 0, 0.014);

        @include vars.media(tablet-wide, max) {
            order: 1;
            min-width: 300px;
            width: 100%;
            height: 300px;
        }
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .title {
        font-size: vars.rem(55);
        font-weight: 700;
        color: vars.$dark-blue;
        line-height: 1.3;

        @include vars.media(tablet-wide, max) {
            font-size: vars.rem(34);
        }
    }

    .content {
        margin: vars.rem(40) 0;
        color: vars.$dark-grayish-blue;
        max-width: 70%;
        font-size: vars.rem(15);
        @include vars.media(tablet-wide, max) {
            margin-left: auto;
            margin-top: vars.rem(10);
            margin-right: auto;
            max-width: 90%;
        }
    }
}
