.list {
    margin: vars.rem(100) 0;
    padding: 0 vars.rem(160);
    @include vars.flexer(start, space-between);

    column-gap: vars.rem(240);
    // height: 150px;

    @include vars.media(desktop, max) {
        padding: 0 vars.rem(50);
    }
    @include vars.media(phablet, max) {
        padding: 0 vars.rem(25);
        padding-right: 0;
    }
    @include vars.media(tablet-wide, max) {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .title {
        font-size: vars.rem(36);
        color: vars.$dark-blue;
        margin-bottom: vars.rem(45);
        padding-right: vars.rem(25);
    }
    .content {
        color: vars.$dark-grayish-blue;
        max-width: 80%;
        font-size: vars.rem(15);
        padding-right: vars.rem(25);

        @include vars.media(tablet-wide, max) {
            max-width: 100%;
        }
    }

    section {
        margin-top: vars.rem(50);
    }

    .header {
        position: relative;
        margin-bottom: vars.rem(30);
        @include vars.flexer(center, start);

        @include vars.media(phablet, max) {
            margin-left: auto;
            background: rgba(242, 95, 58, 0.5);
            width: 100%;
            text-align: left;

            // justify-content: center;
        }
    }
    .header p:first-child {
        position: absolute;
        width: 67px;
        height: 40px;
        background: vars.$bright-red;
        @include vars.flexer(center, center);
        color: vars.$very-light-gray;
        font-weight: 700;
        border-radius: vars.rem(999);
        top: 0;
        left: -29px;
        transform: translate(-100%, -25%);

        @include vars.media(tablet-wide, max) {
            position: relative;
            transform: translate(25%, 0);
            // left: 0;
            // align-self: start;

            // display: none;
        }
    }

    .header p:last-child {
        color: vars.$dark-blue;

        font-weight: 700;
    }

    article {
        color: vars.$dark-grayish-blue;
        max-width: 80%;

        @include vars.media(tablet-wide, max) {
            padding-left: vars.rem(25);
        }
    }
}
