@use './functions.scss' as funcs;
@use './mixins.scss' as mixins;
@use './colors.scss' as colors;

@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    line-height: 1.5;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: funcs.rem(16);
    overflow-x: hidden;
}
a,
a:visited,
a:focus {
    text-decoration: none;
    color: unset;
    cursor: pointer;
}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button {
    padding: funcs.rem(15) funcs.rem(36);
    border: none;
    outline: none;
    border-radius: funcs.rem(9999);
    cursor: pointer;
    background: colors.$bright-red;
    color: colors.$very-pale-red;
    font-weight: 700;
    transition: filter 0.2s, box-shadow 0.2s;
    box-shadow: 0px 4px 8px rgba(242, 95, 58, 0.4);
    font-family: 'Be Vietnam Pro', sans-serif;
}

button.secondary {
    background: white;
    color: colors.$bright-red;
}

button:hover {
    filter: brightness(1.5);
}
