@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");
header, .hero, .list, .list .header, .list .header p:first-child, .testimonials, .testimonials .cards, .testimonials .card, footer > *, footer .logo-soc, footer nav, footer form {
  display: flex;
}

.testimonials .card img, .container::before {
  display: block;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  line-height: 1.5;
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 1rem;
  overflow-x: hidden;
}

a,
a:visited,
a:focus {
  text-decoration: none;
  color: unset;
  cursor: pointer;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button {
  padding: 0.9375rem 2.25rem;
  border: none;
  outline: none;
  border-radius: 624.9375rem;
  cursor: pointer;
  background: #f25f3a;
  color: #ffefeb;
  font-weight: 700;
  transition: filter 0.2s, box-shadow 0.2s;
  box-shadow: 0px 4px 8px rgba(242, 95, 58, 0.4);
  font-family: "Be Vietnam Pro", sans-serif;
}

button.secondary {
  background: white;
  color: #f25f3a;
}

button:hover {
  filter: brightness(1.5);
}

header {
  padding: 0 10rem;
  align-items: center;
  justify-content: space-between;
  height: 150px;
}
@media only screen and (max-width: 1247px) {
  header {
    padding: 0 3.125rem;
  }
}
@media only screen and (max-width: 559px) {
  header {
    padding: 0 1.5625rem;
    height: 7.5rem;
  }
}
header .logo {
  display: grid;
  place-items: center;
}
header .menu {
  display: none;
  width: 1.875rem;
  height: 1.25rem;
  cursor: pointer;
  position: relative;
}
header .menu span {
  background: #242d52;
  width: 30px;
  height: 4px;
  border-radius: 0.0625rem;
  position: absolute;
}
header .menu span:nth-child(2) {
  top: 50%;
  opacity: 1;
  transform: translateY(-50%);
}
header .menu span:first-child {
  top: 0;
}
header .menu span:last-child {
  top: calc(100% - 4px);
}
@media only screen and (max-width: 767px) {
  header .menu {
    display: block;
  }
}
header .menu.straight {
  transition: transform 0.2s;
}
header .menu.straight span:nth-child(2) {
  top: 50%;
  opacity: 1;
  transform: translateY(-50%);
  transition: opacity 0.3s 1.3s;
}
header .menu.straight span:first-child {
  top: 0;
  transition: top 0.5s 1s, transform 0.5s 0.5s;
}
header .menu.straight span:last-child {
  top: calc(100% - 4px);
  transition: top 0.5s 1s, transform 0.5s 0.3s;
  transform: rotate(0deg);
}
header .menu.cross {
  transition: transform 0.2s 1.3s;
  transform: rotate(45deg);
}
header .menu.cross span:nth-child(2) {
  opacity: 0;
  transition: opacity 0.3s;
}
header .menu.cross span:first-child {
  top: 50%;
  transform: translateY(-50%);
  transition: top 0.5s 0.3s, transform 0.5s 0.3s;
}
header .menu.cross span:last-child {
  top: calc(50% - 2px);
  transform: rotate(90deg);
  transition: top 0.5s 0.3s, transform 0.5s 0.8s;
}
@media only screen and (max-width: 767px) {
  header nav {
    background: white;
    box-shadow: 13px -2px 41px -12px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 13px -2px 41px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 13px -2px 41px -12px rgba(0, 0, 0, 0.75);
    position: absolute;
    display: flex;
    top: 0;
    left: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 20.3125rem;
    height: 18.125rem;
    border-radius: 0.25rem;
    transform: translate(-50%, -100%);
    opacity: 0;
  }
}
header nav.active {
  transform: translate(-50%, 100px);
  opacity: 1;
  transition: transform 1.3s, opacity 0.5s 0.7s;
}
header nav a {
  font-weight: 500;
}
header nav a:hover {
  color: #9095a7;
}
header nav a:not(:last-child) {
  margin-right: 1.875rem;
}
@media only screen and (max-width: 767px) {
  header nav a:not(:last-child) {
    margin-right: 0;
    margin-bottom: 0.9375rem;
  }
}
@media only screen and (max-width: 1247px) {
  header button {
    display: none;
  }
}

@keyframes go_up {
  0% {
    transform: translateY(100px);
    opacity: 1;
  }
  50% {
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}
@keyframes go_down {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  50% {
    transform: translateY(0);
    opacity: 0;
  }
  100% {
    transform: translateY(100px);
    opacity: 1;
  }
}
.hero {
  padding: 0 10rem;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 6.875rem;
  min-height: 500px;
  margin-top: 6.25rem;
}
@media only screen and (max-width: 1247px) {
  .hero {
    padding: 0 3.125rem;
  }
}
@media only screen and (max-width: 1023px) {
  .hero {
    text-align: center;
    margin-top: 3.125rem;
  }
}
@media only screen and (max-width: 559px) {
  .hero {
    padding: 0 1.5625rem;
  }
}
.hero .explanation {
  flex: 1 0;
}
@media only screen and (max-width: 1023px) {
  .hero .explanation {
    order: 2;
  }
}
.hero .img {
  flex: 1 0;
  height: 100%;
  min-width: 500px;
  margin-bottom: 0.9375rem;
  box-shadow: -1px 11px 12px 6px rgba(0, 0, 0, 0.014);
  -webkit-box-shadow: -1px 11px 12px 6px rgba(0, 0, 0, 0.014);
  -moz-box-shadow: -1px 11px 12px 6px rgba(0, 0, 0, 0.014);
}
@media only screen and (max-width: 1023px) {
  .hero .img {
    order: 1;
    min-width: 300px;
    width: 100%;
    height: 300px;
  }
}
.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero .title {
  font-size: 3.4375rem;
  font-weight: 700;
  color: #242d52;
  line-height: 1.3;
}
@media only screen and (max-width: 1023px) {
  .hero .title {
    font-size: 2.125rem;
  }
}
.hero .content {
  margin: 2.5rem 0;
  color: #9095a7;
  max-width: 70%;
  font-size: 0.9375rem;
}
@media only screen and (max-width: 1023px) {
  .hero .content {
    margin-left: auto;
    margin-top: 0.625rem;
    margin-right: auto;
    max-width: 90%;
  }
}

.list {
  margin: 6.25rem 0;
  padding: 0 10rem;
  align-items: start;
  justify-content: space-between;
  column-gap: 15rem;
}
@media only screen and (max-width: 1247px) {
  .list {
    padding: 0 3.125rem;
  }
}
@media only screen and (max-width: 559px) {
  .list {
    padding: 0 1.5625rem;
    padding-right: 0;
  }
}
@media only screen and (max-width: 1023px) {
  .list {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
.list .title {
  font-size: 2.25rem;
  color: #242d52;
  margin-bottom: 2.8125rem;
  padding-right: 1.5625rem;
}
.list .content {
  color: #9095a7;
  max-width: 80%;
  font-size: 0.9375rem;
  padding-right: 1.5625rem;
}
@media only screen and (max-width: 1023px) {
  .list .content {
    max-width: 100%;
  }
}
.list section {
  margin-top: 3.125rem;
}
.list .header {
  position: relative;
  margin-bottom: 1.875rem;
  align-items: center;
  justify-content: start;
}
@media only screen and (max-width: 559px) {
  .list .header {
    margin-left: auto;
    background: rgba(242, 95, 58, 0.5);
    width: 100%;
    text-align: left;
  }
}
.list .header p:first-child {
  position: absolute;
  width: 67px;
  height: 40px;
  background: #f25f3a;
  align-items: center;
  justify-content: center;
  color: #fafafa;
  font-weight: 700;
  border-radius: 62.4375rem;
  top: 0;
  left: -29px;
  transform: translate(-100%, -25%);
}
@media only screen and (max-width: 1023px) {
  .list .header p:first-child {
    position: relative;
    transform: translate(25%, 0);
  }
}
.list .header p:last-child {
  color: #242d52;
  font-weight: 700;
}
.list article {
  color: #9095a7;
  max-width: 80%;
}
@media only screen and (max-width: 1023px) {
  .list article {
    padding-left: 1.5625rem;
  }
}

.testimonials {
  margin-bottom: 9.375rem;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}
@media only screen and (max-width: 1247px) {
  .testimonials {
    padding: 0 3.125rem;
  }
}
@media only screen and (max-width: 559px) {
  .testimonials {
    padding: 0 0.9375rem;
  }
}
.testimonials .title {
  font-size: 1.875rem;
  color: #242d52;
}
.testimonials .cards {
  padding-top: 5rem;
  margin-bottom: 2.5rem;
}
.testimonials .card {
  background: #fafafa;
  width: 33.75rem;
  height: 15.625rem;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  border-radius: 0.5rem;
  padding: 4.6875rem 2.5rem 2.5rem;
  position: relative;
}
.testimonials .card:not(:last-child) {
  margin-right: 2.5rem;
}
.testimonials .card_title {
  color: #242d52;
  margin-bottom: 1.875rem;
}
.testimonials .card_content {
  color: #9095a7;
}
.testimonials .card img {
  position: absolute;
  width: 75px;
  height: 75px;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

footer > * {
  padding: 0 10rem;
  align-items: center;
  justify-content: space-between;
}
@media only screen and (max-width: 1247px) {
  footer > * {
    padding: 0 3.125rem;
  }
}
@media only screen and (max-width: 559px) {
  footer > * {
    padding: 0 1.5625rem;
  }
}
footer .before {
  background: #f25f3a;
  min-height: 13.625rem;
}
@media only screen and (max-width: 767px) {
  footer .before {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 25.3125rem;
  }
}
footer .before h1 {
  color: #ffefeb;
  width: clamp(310px, 60%, 440px);
  font-size: 2.1875rem;
}
@media only screen and (max-width: 767px) {
  footer .before h1 {
    margin-bottom: 1.875rem;
  }
}
footer .bottom {
  width: 100%;
  height: 15.625rem;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
  background: #1d1e25;
  color: #fafafa;
  display: flex;
  position: relative;
}
@media only screen and (max-width: 1023px) {
  footer .bottom {
    flex-direction: column-reverse;
    height: 33.125rem;
  }
}
footer .bottom > * {
  height: 100%;
}
footer .logo-soc {
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}
@media only screen and (max-width: 1023px) {
  footer .logo-soc {
    flex-direction: column-reverse;
    width: 100%;
    margin-bottom: 3.125rem;
  }
}
footer .soc-img:not(:last-child) {
  margin-right: 0.625rem;
}
@media only screen and (max-width: 1023px) {
  footer .soc-img:not(:last-child) {
    margin-right: 1.875rem;
  }
}
@media only screen and (max-width: 1023px) {
  footer .soc-img img {
    transform: scale(1.5);
  }
}
footer .soc-img:hover {
  filter: invert(44%) sepia(80%) saturate(2163%) hue-rotate(340deg) brightness(100%) contrast(90%);
}
footer nav {
  align-items: start;
  justify-content: space-between;
  width: min(380px, 90%);
  margin-bottom: 2.5rem;
}
footer nav a {
  display: block;
  font-size: 0.9375rem;
}
footer nav a:not(:last-child) {
  margin-bottom: 1.25rem;
}
footer nav a:hover {
  color: #f25f3a;
  font-weight: 400;
}
footer form {
  align-items: start;
  justify-content: space-between;
}
footer input {
  padding: 0.9375rem;
  width: 12.5rem;
  margin-right: 0.3125rem;
  border: 2px solid transparent;
  outline: none;
  border-radius: 624.9375rem;
}
@media only screen and (max-width: 1023px) {
  footer input {
    width: 15.625rem;
    padding-left: 1.875rem;
  }
}
footer input.invalid {
  border-color: #f25f3a;
  color: red;
}
footer input.invalid + .error {
  display: block;
}
footer .error {
  display: none;
  margin-left: 0.9375rem;
  margin-top: 0.625rem;
  font-size: 0.5625rem;
  color: #f25f3a;
}
footer .right {
  position: absolute;
  right: 160px;
  bottom: 50px;
  color: #9095a7;
  font-size: 0.75rem;
  height: 20px;
}
@media only screen and (max-width: 1023px) {
  footer .right {
    left: 50%;
    width: max-content;
    transform: translateX(-50%);
    bottom: 1.875rem;
  }
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
}
.container::before {
  position: absolute;
  width: 1000px;
  height: 430px;
  content: "";
  right: -300px;
  top: -80px;
  border-radius: 220px;
  background: #f25f3a;
  opacity: 0.2;
  transform: rotate(134deg);
}
.container > * {
  width: 100%;
  z-index: 10;
  position: relative;
}

/*# sourceMappingURL=style.css.map */
