@use './utils/index' as vars;
@import './components/index';

.container {
    width: 100%;
    height: 100%;
    position: relative;

    &::before {
        @include vars.pseudo(absolute, 1000px, 430px);
        content: '';
        right: -300px;
        top: -80px;
        border-radius: 220px;
        background: vars.$bright-red;
        opacity: 0.2;

        transform: rotate(134deg);
    }

    & > * {
        width: 100%;
        z-index: 10;
        position: relative;
    }
}
